*{
  margin: 0px;
  padding: 0px;
}
.top_div{
    margin-right: 0px!important;
    margin-left: 0px!important;
    padding: 11px 1px;
}
.tool_box1{
  margin-top: 15px;
}
.top_div .tool_box2 ul{
  list-style-type: none;
  float: right;
}
.top_div .tool_box2 ul > li{
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}
.eventImage img{
  vertical-align: middle;
  border-radius: 10px;
  transition: .5s;
}
.eventImage img:hover{
  transform: scale(1.1,1.1);
}
.eventImage h4{  
  font-size: 25px;
  margin: 30px;
}

.headTitle{  
  font-size: 30px;
  font-weight: bolder;
  padding: 35px;
  text-transform: uppercase;
}
.dropdown-toggle{
  border-radius: 50px!important;
}
.top_div .tool_box2 ul li ul{
width: 250px;

}
.top_div .tool_box2 ul li ul  li{
  list-style-type: none;
  display: block!important;
  margin-right: 0px;
  font-size: 15px;
  padding: 6px;

}
.top_div .tool_box2 ul > li > a{
  /* color:#000; */
}
.fa{
  padding: 10px;
  font-size: 18px!important;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 1px 2px;
}
.fa:hover{
  opacity: 0.7;
  text-decoration: none;
}
.fa-facebook {
  color: #3B5998;
}
.fa-twitter{
  color: #55ACEE;
}
.fa-google{
  color:#dd4b39;
}
.fa-linkedin{
  color:#007bb5;
}


.world{
  background-color: #ffff;
  width: 100%;
  padding-right: 80px!important;
  padding-left: 80px!important;
  /* margin-right: auto;
  margin-left: auto; */
  padding: 20px;
  border-radius: none;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #444040!important;
    color: #fff;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  padding: 15px!important;
}
.navbar-brand h1{  
  margin: 0px;
  margin-top: -20px;
  font-size: 50px;
  margin-left: 20px;
  font-weight: 900;
}
.navbar-brand p{  
  margin-left: 25px;
  font-size: 17px;
  font-weight: 600;
}
.navbar-nav>li>a{
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}
.navbar-nav>li>a:hover{
  /* background-color: #000; */
}



.navbar-nav>li>.dropdown-menu {
    margin-top: 7px!important;
}
